@font-face {
    font-family: 'OpenSansCondensed-Light';
    font-style: normal;
    font-weight: 200;
    src: local('OpenSansCondensed-Light'), local('OpenSansCondensed-Light'), url(../font/OpenSansCondensed-Light.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }
  @font-face {
      font-family: 'Raleway-Thin';
      font-style: normal;
      font-weight: 300;
      src: local('Raleway-Thin'), local('Raleway-Thin'), url(../font/Raleway-Thin.ttf);
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
    }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../font/Lato-Regular.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }
  
  @font-face {
    font-family: 'OpenSansCondensed-Light';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(../font/Lato-Light.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }
  
*{
    font-family: 'Lato';
    margin: 0;
}
body{
    background-color: rgb(235, 240, 240);
}
.wrapper{
    width: 100%;
     max-width:1200px;
    margin: 0 auto;
    
}
.container {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}    
.box{
    flex-basis: 300px;
    height: 400px;
    border-radius: 10px;  
    box-shadow: 1px solid rgb(252, 251, 251);
}
.one{
    background-color: white;
}
.two{
    background-color: white;
}
.three{
    background-color: white;
}

.image{
    width: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.button{
    width: 90px;
    border-radius: 10px;
    background-color: royalblue;
    margin: 15px 20px 10px 20px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
}
.pop{
    padding-right: 0;
    width: 65px;
    background-color: rgb(71, 51, 97);
}
.desig{
    width: 49px;
    background-color: rgb(219, 62, 167);
}
h3{
    font-family: 'Lato';
    color: grey;
    padding: 1px 5px 2px 10px;
    font-size: 15px;
    margin-left: 10px;
    font-weight: bolder;
}
p{
    color: grey;
    padding: 1px 5px 2px 10px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 12px;
    
}
small{
    color: white;
    font-size: 10px;
    font-weight: 100px;
}
footer{
    display: flex;
    align-items: flex-end;
    margin-top: 5px;
    background-color: rgb(180, 180, 180);
}
.footers{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 10px;
}
.feet{
   /* color: grey; */
   margin-top: 15px;
   margin-left: 10px;
   font-size: 12px;
   font-weight: bolder;
}
.hour{
    margin-left: -10px;
    font-weight: lighter;
    font-size: x-small;
}
.foots3{
  margin-top: 47px;
}
.foots2{
    margin-top: 10px;
  }
@media(max-width:767px) {
   body{
       /* background-color: saddlebrown; */
   }
   .box{
        margin-top: 30px;
        flex-basis: 280px;
        height: 395px;
        justify-content: center;
     
   }
   .container{
       justify-content: center;
       
   }
   .image{
    width: 280px;
   }
   .three{
       margin-bottom: 30px;
       
   }
   .foots3{
       margin-top: 20px;
   }

  

}
@media(min-width:579px) and (max-width:818px){
    .box{
        margin-top: 30px;
        flex-basis: 400px;
        height: 470px;
   }
   .image{
    width: 400px;
   }
}
@media(min-width:767px) and (max-width:991px){
    body{
        /* background-color: black; */

    }
    .box{
        flex-basis: 250px;
        height: 370px;
    }
    .image{
        width: 250px;
    }
}
@media (min-width:992px) and (max-width:1199px){
    body{
        /* background-color: rosybrown; */
    }
}
@media(min-width: 1200px){
    body{
        /* background-color: rgb(143, 188, 178); */
    } 
}